<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <div class="list-group mt-3">
            <a href="#" class="list-group-item list-group-item-action">Super Administrateur </a>
            <a href="#" class="list-group-item list-group-item-action">List Condidat </a>
            <a href="#" class="list-group-item list-group-item-action">List établissement</a>
            <a href="#" class="list-group-item list-group-item-action">Update Profil</a>
        </div>       
    </mat-drawer>
    <mat-drawer-content>
        <div class="card" style="width: auto;">
            <nav class="navbar navbar-light ">
              <a class="navbar-brand">Liste condidats: </a>
              <form class="form-inline">search:
                <input matInput (keyup)="applyFilter($event)" class="form-control ml-sm-2" type="search" placeholder="Search"
                  aria-label="Search">
              </form>
            </nav>
            <div class="card m-3" style="width: auto;">
              <table class="table table-bordered table-striped table-hover">
                <thead class="btn-secondary">
                    <th>ID</th>
                    <th>prenom</th>
                    <th>nom</th>
                    <th>email</th>
                    <th>phone</th>
                    <th>actions</th>
          
                </thead>
                <tr *ngFor="let etabli of etablis;;let i=index">
                    <td>{{i+1 | number:'3.0'}}</td>
                    <td>{{etabli.fname}}</td>
                    <td>{{etabli.lname}}</td>
                    <td>{{etabli.email}}</td>
                    <td>{{etabli.phone}}</td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                <a  class="btn btn-success btn-block mr-2">Modifier</a>
                            </div>
                            <div class="col-sm-6">
                                <button  type="button" class="btn btn-danger btn-block">Supprimer</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            </div>
          </div>
    </mat-drawer-content>
</mat-drawer-container>