<div class="card" style="width: auto;">
  <nav class="navbar navbar-light ">
    <a class="navbar-brand">Liste condidats: </a>
    <form class="form-inline">search:
      <input matInput (keyup)="applyFilter($event)" class="form-control ml-sm-2" type="search" placeholder="Search"
        aria-label="Search">
    </form>
  </nav>
  <div class="card m-3" style="width: auto;">
    <mat-form-field class="btn">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    <table  class="table table-bordered table-striped table-hover">
      <thead class="btn-secondary">
          <th>ID</th>
          <th>prenom</th>
          <th>nom</th>
          <th>email</th>
          <th>phone</th>
          <th>actions</th>

      </thead>
      <tr *ngFor="let condidat of condidats;;let i=index">
          <td>{{i+1 | number:'3.0'}}</td>
          <td>{{condidat.fname}}</td>
          <td>{{condidat.lname}}</td>
          <td>{{condidat.email}}</td>
          <td>{{condidat.phone}}</td>
          <td>
              <div class="row">
                  <div class="col-sm-6">
                      <a  class="btn btn-success btn-block mr-2">Modifier</a>
                  </div>
                  <div class="col-sm-6">
                      <button (click)='deleteUser(i)' type="button" class="btn btn-danger btn-block">Supprimer</button>
                  </div>
              </div>
          </td>
      </tr>
  </table>
  </div>
</div>