<div class="row mt-4 offset-4 col-4">
    <form class="example-form text-secondary" [formGroup]="updateForm">
      <br>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label> Establishment Name</mat-label>
        <input matInput formControlName="etbName">
        <mat-error *ngIf="updateForm.controls.etbName.hasError('required')">
          Establishment name is required.
        </mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="updateForm.controls.email.hasError('email') && !updateForm.controls.email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="updateForm.controls.email.hasError('required')">
          Email is required.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Telephone</mat-label>
        <span matPrefix>+216 &nbsp;&nbsp;</span>
        <input type="tel" matInput placeholder="22-222-222" formControlName="phone">
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-error *ngIf="updateForm.controls.phone.hasError('required')">
          Phone is required.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Fax</mat-label>
        <span matPrefix>+216 &nbsp;&nbsp;</span>
        <input type="tel" matInput placeholder="22-222-222" formControlName="fax">
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-error *ngIf="updateForm.controls.fax.hasError('required')">
          Phone is required.
        </mat-error>
      </mat-form-field>
  
  
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="submited && updateForm.controls.password.hasError('required')">password is required.</mat-error>
        <mat-error *ngIf="submited && updateForm.controls.password.hasError('minlength')">Password must be 5 characters.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Enter your new password</mat-label>
        <input matInput [type]="hide ? 'newpassword' : 'text'" formControlName="newpassword">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide newpassword'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="submited && updateForm.controls.newpassword.hasError('required')">password is required.</mat-error>
        <mat-error *ngIf="submited && updateForm.controls.newpassword.hasError('minlength')">Password must be 5 characters.
        </mat-error>
      </mat-form-field>
      
  
      <br>
      <div><button mat-button type="submit" class="btn btn-block btn-dark mt3">login</button></div>
    </form>
  </div>
  
